.frame-wrapper12 {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 16px 20px 20px 30px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.round {
  margin: 0;
}

.frame-parent39 {
  flex-direction: column;
  align-items: center;
  /* max-width: 50%; */
  width: fit-content;
  gap: 16px;
  display: flex;
  justify-content: flex-start;
}
.dashboard {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  z-index: 1;
}
.dashboard-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.dashboard-parent {
  border-radius: 8px;
  background-color: #fff;
  width: 90px;
  /* max-width: auto; */
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 6px;
}

.frame-parent40 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* padding: 10px; */
  height: 225px;
  padding: 0 0 10px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.rectangle-div {
  position: absolute;
  margin: 0 !important;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  background-color: #d63500;
  width: 7px;
  height: 7px;
  opacity: 0;
  z-index: 2;
}
.note-alt-parent {
  border-radius: 8px;
  background-color: #e5f1fc;
  border: 1px solid #0073e6;
  width: 90px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  color: #0073e6;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.note-alt-icon {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 0;
}

.quiz-parent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 8px;
  background-color: #fff;
  width: 90px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.dot-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.assessments-overview {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.frame-child19 {
  border-radius: 8px;
  background-color: #fff;
  width: 90px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.bill-and-plan-line-wrapper {
  border-radius: 8px;
  background-color: #fff;
  width: 90px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}
.link-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.vector-parent {
  align-self: stretch;
  gap: 16px;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  color: #d63500;
  flex-direction: column;
  align-items: center;
}

.frame-child22 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}

.frame-parent41 {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  flex-direction: column;
  align-items: center;
}

.admin-wrapper {
  border-radius: 22px;
  background-color: #fbebea;
  border: 1px solid #d63500;
  box-sizing: border-box;
  height: 18px;
  display: flex;
  flex-direction: row;
  padding: 6px 8px;
  align-items: center;
  justify-content: flex-start;
}

.admin-meds-parent {
  border-radius: 8px;
  background-color: #fff;
  width: 90px;
  overflow: hidden;
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: center;
  gap: 6px;
  text-align: center;
  font-size: 12px;
  color: #1c4980;
  flex-direction: column;
  align-items: center;
}

.new-assessment {
  position: relative;
  font-weight: 500;
}
/*  */
